.jfx-text-field, .jfx-password-field {
    -fx-prompt-text-fill: WHITE;
    -fx-text-fill: WHITE;
}
.separator *.line {
    -fx-border-style: solid;
    -fx-border-color: #5D5C67;
}
.jfx-combo-box {
    -fx-text-inner-color: WHITE;
    -fx-prompt-text-fill: WHITE;
}
.jfx-combo-box .cell {
    -fx-text-fill: WHITE;
}
.jfx-date-picker .text-field {
    -fx-pompt-text-fill: WHITE;
    -fx-text-fill: WHITE;
}
.jfx-text-area {
    -fx-prompt-text-fill: WHITE;
    -fx-text-fill: WHITE;
}

/*List view styling*/
.list-view {
    -fx-background-color: #3E3E4A;
}
.list-view .list-cell:hover {
    -fx-background-color: #5D5C67;
}
.list-view .list-cell:selected {
    -fx-background-color: #007B68;
}
.list-view .list-cell {
    -fx-background-color: #3E3E4A;
    -fx-text-fill: white;
}
.list-view .list-cell:odd {
    -fx-background-color: #494957;
}
.list-view .list-cell:odd:selected {
    -fx-background-color: #007B68;
}
.list-view .label {
    -fx-text-fill: white;
}
.list-view .scroll-bar:vertical {
    -fx-background-color: #3E3E4A;
}
.list-view .increment-button , .list-view .decrement-button {
    -fx-background-color:transparent;
    -fx-border-color: #5D5C67;
    -fx-border-radius: 2;
}
.list-view .scroll-bar:vertical .thumb {
    -fx-background-color: #5D5C67;
}
.list-view .scroll-bar .thumb:hover,
.list-view .scroll-bar .thumb:pressed{
    -fx-background-color: #007B68;
}
.list-view .increment-button:hover ,.list-view .decrement-button:hover {
    -fx-background-color:#007B68;
}